<html>
    <head>
        <title>チャット</title>
        <script src="../../resources/js/jquery-3.5.1.min.js"></script>
        <script src="../../resources/js/chat.js"></script>
    </head>
    <style>
        input {display:block;}
        ul {list-style:none;}
    </style>
    <body>
        <ul id="message"></ul>
        websocketを使ったwebアプリケーション
        <form id="chatbox">
            {{.UserData.name}}:</br>
            <textarea></textarea>
            <input type="submit" value="送信">
        </form>
    </body>
</html>